@mixin flexRow($flex: flex) {
  display: $flex;
  flex-direction: row;
}

@mixin flexColumn($flex: flex) {
  display: $flex;
  flex-direction: column;
}

@mixin line() {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  background: #FFFFFF;
  height: 2px;
}
