$color-lavender: #B8BBD3;
$color-white: #FFFFFF;
$color-red: #C9A3A4;
$color-blue: #A7CEEF;
$color-green: #ACB5AC;
$color-yellow: #D5B795;
$color-grey: #858585;
$color-light-blue: #bedcfa;
$color-dark: #2E2E2E;
$title-h1: 3.6875rem;
$title-h2: 2.5625rem;
$container-padding-h: 50px;
$container-padding-v: 32px;
$line-padding: 35px;

@media screen and (max-width: 720px) {
  $container-padding-h: 50px / 2;
  $container-padding-hv: 32px / 2;
}
