@import '../../styles/variables';

.title {
  color: $color-white;
  margin: 0;
  white-space: pre-line;
}

h1.title {
  font-size: $title-h1;
  letter-spacing: 0.1125rem;
}

h2.title {
  font-size: $title-h2;
  font-weight: 400;
}
