@import '../../styles/mixins';
@import '../../styles/variables';

.future {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: $container-padding-h;
  background: url('../../images/homepage-footer.jpg') no-repeat top center/cover;

  &__block {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 100%;

    .title {
      padding-bottom: $line-padding;
      position: relative;

      &:after {
        @include line;
        bottom: 0;
      }
    }

    .text {
      width: 80%;
      margin: $line-padding 0;
    }

    .button[data-theme='link'] {
      margin-top: auto;
    }
  }
}
